$color-primary-0: #AA1111;	// Main Primary color */
$color-primary-1: #FF6666;
$color-primary-2: #E23131;
$color-primary-3: #6E0000;
$color-primary-4: #1B0000;

$color-secondary-1-0: #AA5611;	// Main Secondary color (1) */
$color-secondary-1-1: #FFAC66;
$color-secondary-1-2: #E28131;
$color-secondary-1-3: #6E3200;
$color-secondary-1-4: #1B0C00;

$color-secondary-2-0: #0A6666;	// Main Secondary color (2) */
$color-secondary-2-1: #45ABAB;
$color-secondary-2-2: #1E8888;
$color-secondary-2-3: #004242;
$color-secondary-2-4: #001010;

$color-complement-0: #0E880E;	// Main Complement color */
$color-complement-1: #56D556;
$color-complement-2: #27B527;
$color-complement-3: #005800;
$color-complement-4: #001600;
@import url('https://fonts.googleapis.com/css?family=Arvo|Josefin+Slab|Vollkorn');
body{
    font-family: 'Josefin Slab', serif;
    font-family: 'Arvo', serif;
    font-family: 'Vollkorn', serif;
    background-color: #000000;
    //background-image: radial-gradient(black 97%, $color-primary-0);
    color: white
}

p{
    text-align: justify;
    margin: 0 0 30px 0;
}

// .section-title:after {
//     content: " ";
//     width: 39px;
//     position: absolute;
//     left: 0;
//     bottom: 0px;
//     border-bottom: 1px solid #0b5f6b;
// }

//header

// NavBar
.main-nav li{
    display: inline-block;
    text-align: center;
}

.main-nav a{
    text-decoration: none;
    color: white
}
.main-nav a:hover{
    animation: pulseLetters 2s infinite;
}

.main-nav ul{
    text-align: center;
}

.footer-nav li{
    display: inline-block;
    text-align: center;
    list-style-type: none;
}

//Banner
.my-title-name, .my-title-title{
    background-color: transparent;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    font-weight: 500;
    font-size: 6rem;
    //line-height: inherit;
}

.banners{
    background-image: url('https://servehiminthewaiting.files.wordpress.com/2015/03/buring-coals.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: -100;
    background-blend-mode: difference
}

.hero{
    height: 100vh;
    display: flex;
    align-items: center;
    background: transparent;
}

//about



.about {
    padding-top: 10rem;
    padding-bottom: 4rem;
    overflow: hidden;
    background-color: $color-primary-3;
    background-image: linear-gradient(0deg, $color-primary-3 70%, black);
    vertical-align: middle;
    min-height: 90vh;
}


//experience
.experience{
    padding-top: 10rem;
    padding-bottom: 4rem;
    overflow: hidden;
    background-color: $color-secondary-1-2;
    background-image: linear-gradient(0deg, $color-primary-4 70%, $color-primary-3); 
    min-height: 90vh;
}

//education
.education{
    padding-top: 10rem;
    padding-bottom: 4rem;
    overflow: hidden;
    background-color: $color-secondary-1-3;
    background-image: linear-gradient(0deg, $color-primary-4 70%, $color-primary-4);
    min-height: 90vh;
}


// Skills
.skill{
    padding-top: 10rem;
    padding-bottom: 4rem;
    overflow: hidden;
    background-color: $color-secondary-1-4;
    background-image: linear-gradient(0deg, black 10%, $color-secondary-2-4 70%, $color-primary-4);
    min-height: 90vh;
}
.bars , .skills, .courses, .contactDetails {
    margin-top: 2rem;
    list-style-type: none;
    
}


ul.contactDetails, ul.courses{
    margin: 0; 
    padding: 0;
}

.bars{
    width: 95%;
    float: left;
    padding: 0;
    text-align: left;
}

.bars li{
    position: relative;
    margin-bottom: 60px;
    background: #ccc;
    height: 42px;
    border-radius: 3px;
    margin: 0 0 60px 0; padding: 0;
}

.bars ul{
    margin: 0; padding: 0;
}

.skill-name{
    position: relative;
    top: -36px;
}



//animations

.percentage100.animate {
    width: 100%;
    -moz-animation: percentage100 2s ease;
    -webkit-animation: percentage100 2s ease;
    
    animation: pulse 5s infinite, percentage100 5s ease-out;
}
// .percentage100{
//     width: 100%;
//     animation: pulse 5s infinite, percentage100 5s ease-out;
// }

.percentage80.animate {
    width: 80%;
    -moz-animation: percentage80 2s ease;
    -webkit-animation: percentage800 2s ease;    
    animation: pulse 5s infinite, percentage80 5s ease-out;
}

.percentage70.animate {
    width: 70%;
    -moz-animation: percentage70 2s ease;
    -webkit-animation: percentage70 2s ease;    
    animation: pulse 5s infinite, percentage70 5s ease-out;
}
// .percentage80{
//     width: 80%;
//     animation: pulse 5s infinite, percentage80 5s ease-out;
// }
// .content {
//     height:1000px;
// }
.bar-expand{
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding-right: 24px;
    color: blue;
    background-image: linear-gradient(90deg, transparent, $color-secondary-2-2 97%);
    display: inline-block;
    height: 42px;
    line-height: 42px;
    border-radius: 3px 0px 0px 3px; 
}

@keyframes percentage100 {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

@keyframes percentage80 {
    0% {
        width: 0%;
    }
    100% {
        width: 80%;
    }
}

@keyframes percentage70 {
    0% {
        width: 0%;
    }
    100% {
        width: 70%;
    }
}

@keyframes pulse{
  0%{
    background-color: $color-primary-0;
  }
  50%{
    background-color: $color-secondary-1-1;
  }
  80%{
    background-color: $color-primary-1;
  }
  100%{
    background-color: $color-primary-0;
  }
}

@keyframes pulseLetters{
    0%{
        color: $color-primary-0;
    }
    25%{
        color: $color-secondary-1-1;
    }
    50%{
        color: $color-complement-0;
    }
    75%{
        color: $color-primary-1;
    }
    100%{
        color: $color-primary-0;
    }
  }

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}

.navbar-nav > li {
    display: inline-block;
    float:none;
}

// header:before {
//     content: '';
//     display: inline-block;
//     vertical-align: middle;
//     height: 100%;
// }

